.flex_row, .flex_column {
    display: flex;
}
.flex_row {
    flex-direction: row;
    align-items: center;
}
.flex_column {
    flex-direction: column;
}

TextField Label {
    min-width: auto;
}

Button {
    width: auto;
}